<nav class="navbar navbar-expand navbar-dark">
    
    
    <ul class="nav flex-column">
        <a class="navbar-item text-success" routerLink="">DashBoard</a>
    
        <li class="nav-item" routerLinkActive = 'active'>
            <a class="nav-link" routerLink ="resume">Resume</a>
        </li>
        <li class="nav-item" routerLinkActive = 'active'>
            <a class="nav-link" routerLink ="resume">Total des produits vendus</a>
        </li>
        <h5>Paniers et commandes</h5>
        <li class="nav-item" routerLinkActive= 'active'>
            <a class="nav-link" routerLink="TotalVentes">Total des ventes</a>
        </li>
        <li class="nav-item" routerLinkActive= 'active'>
            <a class="nav-link" routerLink="NbCommandes">Nombres de commandes</a>
        </li>
        <li class="nav-item" routerLinkActive= 'active'>
            <a class="nav-link" routerLink="NbPaniers">Nombres de paniers</a>
        </li>
        <li class="nav-item" routerLinkActive= 'active'>
            <a class="nav-link" routerLink="PanierMoyen">Valeur d'un panier moyen</a>
        </li>
        <h5>Clients</h5>
        <li class="nav-item" routerLinkActive= 'active'>
            <a class="nav-link" routerLink="NewClients">Nombres de nouveaux clients </a>
        </li>
        <li class="nav-item" routerLinkActive= 'active'>
            <a class="nav-link" routerLink="RecurenseCommandes">Récurrence de commandes clients </a>
        </li>
        <li class="nav-item" routerLinkActive= 'active'>
            <a class="nav-link" routerLink="PanierAbondonne">Panier abandonés</a>
        </li>
        <h5>Visites</h5>
        <li class="nav-item" routerLinkActive= 'active'>
            <a class="nav-link" routerLink="NbVisites">Nombres de visites</a>
        </li>
        <li class="nav-item" routerLinkActive= 'active'>
            <a class="nav-link" routerLink="ConversionPanier">Conversion en paniers</a>
        </li>
        <li class="nav-item" routerLinkActive= 'active'>
            <a class="nav-link" routerLink="ConversionCommande">Conversion en commandes</a>
        </li>
    </ul>
</nav>
