

    <aside class="col-4 col-md-2 p-0 bg-dark d-inline-block">
        <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
        <a class="text-primary navbar-brand" routerLink='home'>Dashboard</a>
    
    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
        
        <li class="nav-item" routerLinkActive = 'active'>
            <i class="fab fa-product-hunt">
             <a class="nav-link" routerLink="ProduitsVendus"><img src="./assets/img/produit.png" alt="produit"> Total des produits vendus</a> </i>
        </li>
        <h5 class="text-primary">Paniers et commandes</h5>
        <li class="nav-item" routerLinkActive= 'active'>
            <i class="fas fa-euro-sign"></i>
            <a class="nav-link" routerLink="TotalVentes"><img src="./assets/img/euro.png" alt="vente"> Total des ventes</a>
        </li>
        <li class="nav-item" routerLinkActive= 'active'>
            <i class="fas fa-backspace">
            <a class="nav-link" routerLink="NbCommandes"><img src="./assets/img/panier.png" alt="panier"> Nombres de commandes</a>
            </i>
        </li>
        <li class="nav-item" routerLinkActive= 'active'>
            
            <a class="nav-link" routerLink="NbPaniers"><img src="./assets/img/commande.png" alt="commande"> Nombres de paniers</a>
            
        </li>
        <li class="nav-item" routerLinkActive= 'active'>
            <i class="fas fa-tag">
            <a class="nav-link" routerLink="PanierMoyen"><img src="./assets/img/panier.png" alt="panier"> Valeur d'un panier moyen</a>
            </i>
        </li>
        <h5 class="text-primary">Clients</h5>
        <li class="nav-item" routerLinkActive= 'active'>
            <i class="fas fa-user-alt"></i>
            <a class="nav-link" routerLink="NewClients"><img src="./assets/img/visiteur.png" alt="visiteur"> Nombres de nouveaux clients </a>
        </li>
        <li class="nav-item" routerLinkActive= 'active'>
            <i class="fas fa-file-invoice-dollar"></i>
            <a class="nav-link" routerLink="RecurenseCommandes"><img src="./assets/img/recupanier.png" alt="recurense commande"> Récurrence de commandes clients </a>
        </li>
        <li class="nav-item" routerLinkActive= 'active'>
            <i class="fas fa-store-alt-slash"></i>
            <a class="nav-link" routerLink="PanierAbondonne"><img src="./assets/img/abondonn.png" alt="panier abondonné"> Panier abandonés</a>
        </li>
        <h5 class="text-primary">Visites</h5>
        <li class="nav-item" routerLinkActive= 'active'>
            <a class="nav-link" routerLink="NbVisites"><img src="./assets/img/visite.png" alt="visite"> Nombres de visites</a>
        </li>
        <li class="nav-item" routerLinkActive= 'active'>
            <a class="nav-link" routerLink="ConversionPanier"><img src="./assets/img/addpanier.png" alt=" consersionpanier"> Conversion en paniers</a>
        </li>
        <li class="nav-item" routerLinkActive= 'active'>
            <a class="nav-link" routerLink="ConversionCommande"><img src="./assets/img/add.png" alt="conversionCommande"> Conversion en commandes</a>
        </li>
    </ul>
    
    </nav>
</aside>

