<nav class="navbar navbar-expand navbar-dark">
    <a class="navbar-brand text-success" routerLink="">DashBoard</a>
    
    <ul class="nav flex-column">
        <li class="nav-item" routerLinkActive = 'active'>
            <a class="nav-link" routerLink ="resume">Resume</a>
        </li>
        <li class="nav-item" routerLinkActive = 'active'>
            <a class="nav-link" routerLink ="resume">Total des produits vendus</a>
        </li>
        <h5>Paniers et commandes</h5>
        <li class="nav-item" routerLinkActive= 'active'>
            <a class="nav-link" routerLink="TotalVentes">Total des ventes</a>
        </li>
        <li class="nav-item" routerLinkActive= 'active'>
            <a class="nav-link" routerLink="TotalVentes">Nombres de commandes</a>
        </li>
        <li class="nav-item" routerLinkActive= 'active'>
            <a class="nav-link" routerLink="TotalVentes">Nombres de paniers</a>
        </li>
        <li class="nav-item" routerLinkActive= 'active'>
            <a class="nav-link" routerLink="TotalVentes">Valeur d'un panier moyen</a>
        </li>
        <h5>Clients</h5>
        <li class="nav-item" routerLinkActive= 'active'>
            <a class="nav-link" routerLink="TotalVentes">Nombres de nouveaux clients </a>
        </li>
        <li class="nav-item" routerLinkActive= 'active'>
            <a class="nav-link" routerLink="TotalVentes">Récurrence de commandes clients </a>
        </li>
        <li class="nav-item" routerLinkActive= 'active'>
            <a class="nav-link" routerLink="TotalVentes">Panier abandonés</a>
        </li>
        <h5>Visites</h5>
        <li class="nav-item" routerLinkActive= 'active'>
            <a class="nav-link" routerLink="TotalVentes">Nombres de visites</a>
        </li>
        <li class="nav-item" routerLinkActive= 'active'>
            <a class="nav-link" routerLink="TotalVentes">Consersion en paniers</a>
        </li>
        <li class="nav-item" routerLinkActive= 'active'>
            <a class="nav-link" routerLink="TotalVentes">Consersion en commandes</a>
        </li>
    </ul>
</nav>
