<h2>En resumée</h2>

<div class="card-group">
    <h2>Paniers et commandes</h2>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
         <div class="card-body">
        <h5 class="card-title">Total produits vendus</h5>
        <p class="card-text">Le total des produits vendus ce mois ci est 1000 produits</p>
        <a routerLink="ProduitsVendus" class="btn btn-outline-primary">Plus de détails</a>
    </div>
    <div class="card" >
        <img class="card-img-top" src="..." alt="Card image cap">
         <div class="card-body">
        <h5 class="card-title">Total des ventes</h5>
        <p class="card-text">Le total des ventes ce mois ci est 1000 euros</p>
        <a routerLink="ProduitsVendus" class="btn btn-outline-primary">Plus de détails</a>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
         <div class="card-body">
        <h5 class="card-title">Nombres de commandes</h5>
        <p class="card-text">Le nombre de commandes ce mois ci est 1000 Commandes </p>
        <a routerLink="ProduitsVendus" class="btn btn-outline-primary">Plus de détails</a>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
         <div class="card-body">
        <h5 class="card-title">Nombres de paniers</h5>
        <p class="card-text">Le nombre de panier ce mois ci est 1500 paniers</p>
        <a routerLink="ProduitsVendus" class="btn btn-outline-primary">Plus de détails</a>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
         <div class="card-body">
        <h5 class="card-title">Valeur d'un paniers moyen</h5>
        <p class="card-text">150 €</p>
        <a routerLink="ProduitsVendus" class="btn btn-outline-primary">Plus de détails</a>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
         <div class="card-body">
        <h5 class="card-title">Valeur d'un paniers moyen</h5>
        <p class="card-text">150 €</p>
        <a routerLink="ProduitsVendus" class="btn btn-outline-primary">Plus de détails</a>
    </div>
</div>
<div class="card-group">
    
</div>