
    
    <h2>En resumé</h2>
    
    <hr> 
    <h4>Paniers et commandes</h4>
    <div class="card-group">
        
        <div class="card">
            <img class="card-img-top" src="assets/img/produitvendu.png" alt="prduit vendu">
             <div class="card-body">
            <h5 class="card-title">Total produits vendus</h5>
            <p class="card-text">Le total des produits vendus ce mois ci est 1000 produits</p>
            <a ro routerLink="ProduitsVendus" class="btn btn-outline-primary">Plus de détails</a>
            </div>
        </div>
        <div class="card" >
            <img class="card-img-top" src="..." alt="total vente chart">
             <div class="card-body">
            <h5 class="card-title">Total des ventes</h5>
            <p class="card-text">Le total des ventes ce mois ci est 1000 euros</p>
            <a rrouterLink="TotalVentes" class="btn btn-outline-primary">Plus de détails</a>
              </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/Nbrcommande.png" alt="nombres commande">
             <div class="card-body">
            <h5 class="card-title">Nombres de commandes</h5>
            <p class="card-text">Le nombre de commandes ce mois ci est 1000 Commandes </p>
            <a routerLink="NbCommandes" class="btn btn-outline-primary">Plus de détails</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="nombre panier chart">
             <div class="card-body">
            <h5 class="card-title">Nombres de paniers</h5>
            <p class="card-text">Le nombre de panier ce mois ci est 1500 paniers</p>
            <a routerLink="NbPaniers" class="btn btn-outline-primary">Plus de détails</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="Valeur panier chart">
             <div class="card-body">
            <h5 class="card-title">Valeur d'un paniers moyen</h5>
            <p class="card-text">150 €</p>
            <a routerLink="PanierMoyen" class="btn btn-outline-primary">Plus de détails</a>
            </div>
        </div>
    </div>
    <hr>
    <h4>Clients</h4>
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="..." alt="nb clients chart">
             <div class="card-body">
            <h5 class="card-title">Nombres de nouveaux clients</h5>
            <p class="card-text">Ce mois ci il y a 20 nouveaux clients</p>
            <a routerLink="NewClients" class="btn btn-outline-primary">Plus de détails</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="recurence commande chart ">
             <div class="card-body">
            <h5 class="card-title">Récurrence de commandes clients </h5>
            <p class="card-text">Les clients recommandent en moyenne 20%</p>
            <a routerLink="RecurenseCommandes" class="btn btn-outline-primary">Plus de détails</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="panier abondonné chart">
             <div class="card-body">
            <h5 class="card-title">Paniers abondonnées</h5>
            <p class="card-text">Il y a en moyenne 38 paniers abondonnées</p>
            <a routerLink="PanierAbondonne" class="btn btn-outline-primary">Plus de détails</a>
            </div>
        </div>
    
    </div>
    <hr>
    <h4>Visites</h4>
    <div class="group-card">
        <div class="card">
            <img class="card-img-top" src="..." alt="Nombre de visite chart">
             <div class="card-body">
            <h5 class="card-title">Nombre de visites</h5>
            <p class="card-text">Il y a eu 150 visites</p>
            <a routerLink="NbVisites" class="btn btn-outline-primary">Plus de détails</a>
            </div> 
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="conversion en panier chart">
             <div class="card-body">
            <h5 class="card-title">Conversion en paniers</h5>
            <p class="card-text">Il y en moyenne 20% de visite qui se transforme en paniers</p>
            <a routerLink="ConversionPanier" class="btn btn-outline-primary">Plus de détails</a>
            </div>
       </div> 
    </div>



